/* fonts.css */
@font-face {
  font-family: "AC Compacta";
  src: url("../fonts/ACCompacta-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('/fonts/GothamCondensed-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('/fonts/GothamCondensed-Bold.woff2') format('woff2');
  font-weight: bold;
}
